@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header style */
.container {
    display: flex;
    align-items: flex-start;
    background-color: #161616;
    width: 1320px;
    height: 613px;
    margin: 50px 140px 0px;
    border-radius: 25px;
}

.text-part {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 100px 100px;
    /* justify-items: center; */
}

.big-text {
    color: white;
    line-height: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    margin: 111px 24px 0px 106px;
}

.para {
    color: white;
    margin: 0px 49px 0px 106px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.img-part img {
    width: 581px;
    height: 613px;
}

.first-button {
    width: 187px;
    height: 56px;
    background-color: #40bbe0;
    border: none;
    border-radius: 5px;
    margin: 10px 0px 0px 100px;
}

span {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

/* comtainer-2 style */
.container-2 {
    display: flex;
    width: 1320px;
    height: 512px;
    margin: 130px 140px 0px;
    border-radius: 25px;
}

/* left-side */
.left-side {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.box {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 252px;
    height: 252px;

}

.box a {
    width: 252px;
    height: 64px;
    color: #161616;
    background-color: white;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.box .button-3 {
    background-color: red;
    color: white;
}

/* right-side */
.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-left: 15px;
}

.match {
    width: 312px;
    height: 242px;
    border: 1px solid #F3F1FF;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.match-box {
    width: 252px;
    height: 136.18px;
    margin: 53px 30px 52px 30px;
}

.blog-images {
    width: 252px;
    height: 56.18px;
    display: flex;
}

.blog-image img {
    width: 93.04px;
    height: 56.18px;
}

.middle {
    margin: 20px 20px;
}

.middle h2 {
    font-weight: 700;
    font-size: 16px;
    margin: -4px 0px;
}


.blog-detail h3 {
    color: #161616;
    margin: 20px 25px 10px 25px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.last-box {
    margin: 10px 45px 52px;
}

.match-time {
    color: #4D4D4D;
    font-weight: 400;
    font-size: 16px;
}

/* footer style */
.footer {
    background-color: #161616;
    width: 1320px;
    height: 444px;
    display: grid;
    margin-top: 130px;
    color: white;
    align-content: center;
    justify-items: center;
}

.footer-1 {
    margin: 130px 309px 50px 309px;
}

.footer-1 h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0px;

}

hr {
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 0px;
}

.footer-2 {
    display: flex;
    margin: 50px 100px 50px 100px;

}

.footer-2 a {
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin-left: 50px;
    text-decoration: none;
}